:root {

  /* FONT-FAMILY*/
  --ff-cabazon: "CabazonW01-Regular";
  --ff-wonderland: "Beyond Wonderland";

  /* FONT-WEIGHT */
  --fw-semi-bold: 600;
  --fw-regular: 400;
  /* Regular 400 */
  /* Medium 500 */
  /* SemiBold 600 */
  /* Bold 700 */

  /* FONT-SIZES */
  /* --fs-heading: 5.68rem; */
  --fs-heading: 6vw;
  --fs-news-heading: 1.875rem;
  --fs-body: 1.375rem;
  --fs-nav: 1.875;
  --fs-trademark: 17.875;

  /* FONT-COLOR */
  --fc-dark: #231E19;
  --fc-nav: #FFFFFF;
  --fc-red: #C84828;
  
  /* COMPONENTS */
  --border-small: ;
  --border-big: ;
  --link-icon: var('./assets/linkicon.svg')
}

/* RESET CSS */

/* Box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reset margins */

body,
ul,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h1,
h3,
h4,
h5,
h6,
p {
  font-weight: 400; /* remove default */
}

a {
  text-decoration: none;
}

/* set up the body */
body {
  /* font-family: var(--ff-cabin);
  font-size: var(--fs-secondary);
  color: var(--clr-dark);
  background: var(--clr-light); */
  line-height: 1.5;
  min-height: 97vh;
  background-color: #cdc6be;

}

/* make images easier to use */
img,
picture {
  max-width: 100%;
  display: block;
}

/* make forms easier */
/* by default these form elements do not inherit font family by default */
input,
button,
textarea,
select {
  font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* utility classes */

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

/* undefined custom properties
makes them overidable
when declaring
them using inline css */
.flow > *:where(:not(:last-child)) {
  margin-top: var(--flow-space, 1rem);
  outline: 1px solid red;
}

.container {
  padding-inline: 2em; /* same as padding: 0 2em */
  margin-inline: auto;
  max-width: 80rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* add line */
  border: 0;
}

/* colors */
.text-dark {
  color: var(--fc-dark);
}
.text-nav {
  color: var(--fc-nav);
}
.text-red {
  color: var(--fc-red);
}

/* typography */

.ff-cabazon {
  font-family: var(--ff-cabazon);
}
.ff-wonderland {
  font-family: var(--ff-wonderland);
}

.letter-spacing-1 {
  letter-spacing: 4.75px;
}
.letter-spacing-2 {
  letter-spacing: 2.7px;
}
.letter-spacing-3 {
  letter-spacing: 2.35px;
}

.uppercase {
  text-transform: uppercase;
}

.fs-heading {
  font-size: var(--fs-heading);
}
.fs-news-heading {
  font-size: var(--fs-news-heading);
}
.fs-body {
  font-size: var(--fs-body);
}
.fs-nav {
  font-size: var(--fs-nav);
}
.fs-trademark {
  font-size: var(--fs-trademark);
}

.page-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  background-image: url("paper-wallpaper.jpg");
  opacity: 0.7;
  z-index: -1;
  opacity: .4;
}

.old-page-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  background-image: url("old-paper.png");
  opacity: 0.7;
  z-index: -2;
  opacity: 1;
  width: 100%;
  background-size: 100% 100%;
}

.app {
  border: 1px blue solid;
}